<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Cập nhật giỏ hàng</h1>
<form th:action="@{/cart/update}" th:object="${cart}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label>ID Người dùng:</label>
    <input type="number" th:field="*{idUser}" required/><br/>

    <label>ID Sản phẩm:</label>
    <input type="number" th:field="*{idProduct}" required/><br/>

    <label>Số lượng:</label>
    <input type="number" th:field="*{quantity}" required/><br/>

    <button type="submit">Cập nhật</button>
</form>
<a href="cart">Quay lại</a>
</body>
</html>